<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>vue.jsの練習</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1"/>

    <!-- IE9以降で正しく機能するようにする -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- スタイルシートをインクルード -->
    <link rel="stylesheet" type="text/css" href="./static/site/css/iida.css" />

    <!-- font-awesome-4.7.0をインクルード。version5は使えないので要注意 -->
    <link rel="stylesheet" type="text/css" href="./static/font-awesome-4.7.0/css/font-awesome.min.css" />

    <!-- jqueryをインクルード　-->
    <!--
    <script type="text/javascript" src="./static/jquery/jquery.min.js"></script>
    -->

    <!-- bootstrapをインクルード -->
    <link rel="stylesheet" type="text/css" href="./static/bootstrap-4.2.1-dist/css/bootstrap.min.css" />
    <!--
    <script type="text/javascript" src="./static/bootstrap-4.2.1-dist/js/bootstrap.min.js"></script>
    -->

    <!-- vue.jsをインクルード -->
    <script type="text/javascript" src="./static/vue/vue.js"></script>
    <!--
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    -->

    <!--
      bootstrap-vue
      https://bootstrap-vue.js.org/docs/
      ここのBrowserで利用する方法の通りにする。
      bootstrap-vueはvue.jsの後に読み込む
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    -->
    <link type="text/css" rel="stylesheet" href="./static/bootstrap-vue/bootstrap-vue.css"/>
    <script src="./static/babel-polyfill/polyfill.min.js"></script>
    <script src="./static/bootstrap-vue/bootstrap-vue.js"></script>

    <!-- iida.startup.jsをインクルード -->
    <script type="text/javascript" src="./static/site/js/iida.startup.js"></script>

    <!-- iida.vuejs.?.jsをインクルード -->
    <!--
    -->
    <script type="text/javascript" src="./static/site/js/iida.vuejs.2.js"></script>

  </head>

  <body>

    <!--
      このnavbarはbootstrapの例そのまま
      https://getbootstrap.com/docs/4.0/components/navbar/
    -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown link
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="flex-shrink-0">

      <b-container>

        <b-row>
          <b-col>

            <!-- Our application root element -->
            <div id="app">
              <h1> vue.jsの練習</h1>

              <h2>app-1<b-badge>New</b-badge></h2>

                <b-jumbotron header="Bootstrap Vue" lead="Bootstrap 4 Components for Vue.js 2">
                  <p>For more information visit our website</p>
                  <b-button variant="primary" href="https://bootstrap-vue.js.org/">More Info</b-button>
                </b-jumbotron>

                <b-form-group horizontal :label-cols="4" description="Let us know your name." label="Enter your name">
                  <b-form-input v-model.trim="name"></b-form-input>
                </b-form-group>

                <b-alert variant="success" :show="showAlert">
                  Hello {{ name }}
                </b-alert>

                <b-row>
                  <b-col md="6" class="my-1">
                    ボタン設置<br>
                    <b-button variant="primary">abc</b-button>
                  </b-col>
                </b-row>

            </div>

          </b-col>
        </b-row>

      </b-container>

      <hr>

      <b-container fluid>
        <div id="table_app">

          <!-- User Interface controls -->
          <b-row>
            <b-col md="6" class="my-1">
              <b-form-group horizontal label="Filter" class="mb-0">
                <b-input-group>
                  <b-form-input v-model="filter" placeholder="Type to Search" />
                  <b-input-group-append>
                    <b-btn :disabled="!filter" @click="filter = ''">Clear</b-btn>
                  </b-input-group-append>
                </b-input-group>
              </b-form-group>
            </b-col>
            <b-col md="6" class="my-1">
              <b-form-group horizontal label="Sort" class="mb-0">
                <b-input-group>
                  <b-form-select v-model="sortBy">
                    <option slot="first" :value="null">-- none --</option>
                  </b-form-select>
                  <b-form-select :disabled="!sortBy" v-model="sortDesc" slot="append">
                    <option :value="false">Asc</option>
                    <option :value="true">Desc</option>
                  </b-form-select>
                </b-input-group>
              </b-form-group>
            </b-col>
            <b-col md="6" class="my-1">
              <b-form-group horizontal label="Sort direction" class="mb-0">
                <b-input-group>
                  <b-form-select v-model="sortDirection" slot="append">
                    <option value="asc">Asc</option>
                    <option value="desc">Desc</option>
                    <option value="last">Last</option>
                  </b-form-select>
                </b-input-group>
              </b-form-group>
            </b-col>
            <b-col md="6" class="my-1">
              <b-form-group horizontal label="Per page" class="mb-0">
                <b-form-select :options="pageOptions" v-model="perPage" />
              </b-form-group>
            </b-col>
          </b-row>

          <!-- Main table element -->
          <b-table show-empty
                    stacked="md"
                    :items="items"
                    :fields="fields"
                    :current-page="currentPage"
                    :per-page="perPage"
                    :filter="filter"
                    :sort-by.sync="sortBy"
                    :sort-desc.sync="sortDesc"
                    :sort-direction="sortDirection"
                    @filtered="onFiltered"
          >
            <template slot="name" slot-scope="row">{{row.value.first}} {{row.value.last}}</template>
            <template slot="isActive" slot-scope="row">{{row.value?'Yes :)':'No :('}}</template>
            <template slot="actions" slot-scope="row">
              <!-- We use @click.stop here to prevent a 'row-clicked' event from also happening -->
              <b-button size="sm" @click.stop="info(row.item, row.index, $event.target)" class="mr-1">
                Info modal
              </b-button>
              <b-button size="sm" @click.stop="row.toggleDetails">
                {{ row.detailsShowing ? 'Hide' : 'Show' }} Details
              </b-button>
            </template>
            <template slot="row-details" slot-scope="row">
              <b-card>
                <ul>
                  <li v-for="(value, key) in row.item" :key="key">{{ key }}: {{ value}}</li>
                </ul>
              </b-card>
            </template>
          </b-table>

          <b-row>
            <b-col md="6" class="my-1">
              <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" />
            </b-col>
          </b-row>

          <!-- Info modal -->
          <b-modal id="modalInfo" @hide="resetModal" :title="modalInfo.title" ok-only>
            <pre>{{ modalInfo.content }}</pre>
          </b-modal>
        </div>

      </b-container>

    </main>

    <script>
      document.addEventListener("DOMContentLoaded", iida.main)
    </script>
  </body>

</html>
